@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

a {
    color: #4655c6;
    text-decoration: none;
}

a:visited {
    color: #3746b4;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: "BarlowCondensed", serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
}

.code-style {
    margin: 0 30px;
    font-size: 80px;
    color: #4655c6;
}

.header {
    background-color: #4655c6;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    padding: 20px 0 30px;
    width: calc(50% - 30px);
    border-bottom: 2px dotted #7582E3;
}

.section:last-child {
    border-bottom: none;
}

.section-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.section-profile img {
    border-radius: 50%;
    margin-right: 10%;
}

.section-profile__title {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 8px;
}

.section-contacts__item {
    position: relative;
    list-style: none;
}

.section-contacts__item:first-child {
    padding-bottom: 10px;
}

.section-contacts__item:before {
    content: "";
    position: absolute;
    top: 1px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-contacts__item--location:before {
    background-image: url("assets/img/map-marker.png");
}

.section-contacts__item--telegram:before {
    background-image: url("assets/img/telegram.png");
}

.section-contacts__item--discord:before {
    background-image: url("assets/img/discord.png");
}

.section-contacts__item--email:before {
    background-image: url("assets/img/email.png");
}

.section__title {
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #4655c6;
}

.section-projects {
    width: 100%;
}

.section-projects__item {
    padding: 10px 0;
}

.section-projects__title {
    font-size: 24px;
    letter-spacing: 2px;
}

.section-projects__description {
    font-size: 16px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.nav-button {
    display: none;
}

.nav__link {
    padding: 0 20px;
    line-height: 50px;
    color: #fff;
    transition: .4s;
}

.nav__link:visited {
    color: #fff;
}

.nav__link:hover {
    font-size: 20px;
}

.footer {
    color: #fff;
    background-color: #4655c6;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyrights__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: #fff;
    line-height: 50px;
}

.copyrights__link {
    color: #fff;
}

.copyrights__link:visited {
    color: #fff;
}


@media (max-width: 820px) {
    .container {
        padding: 0 40px;
    }

    .nav {
        display: none;
    }

    .nav.opened {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 300px;
        margin-top: 0;
        background-color: #4655c6;
    }

    .nav__list.opened {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .nav__link {
        font-size: 26px;
    }

    .nav-button {
        position: absolute;
        display: block;
        z-index: 9999;
        top: 20px;
        right: 1rem;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        background-image: url("assets/img/menu-burger.png");
        background-repeat: no-repeat;
        background-size: 30px;
    }

    .nav-button.opened {
        background-image: url("assets/img/close.png");
    }

    .close-icon {
        display: none;
    }

    .code-style {
        display: none;
    }

    .section {
        width: 100%;
        padding: 40px 0;
    }

    .section-profile {
        flex-direction: column;
    }

    .section-profile img {
        margin: 0;
    }

    .section-profile__title {
        font-size: 36px;
        letter-spacing: 5px;
    }

    .copyrights {
        flex-direction: column-reverse;
        padding: 30px 0;
    }
}

