@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    font-family: "BarlowCondensed", serif;
}

p, li {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav__link {
    padding: 0 20px;
    line-height: 50px;
}
